
# Build working directories
Sample-App/bin
Sample-App/bld
Sample-App/platforms

# Generated TypeScript artifacts
Sample-App/www/scripts/appBundle.*

# Local nu-get packages
packages/*/

# Build-time variables
Sample-App/www/scripts/BuildVars.js

# Visual Studio user preferences etc
*.docstates
*.suo
*.jsproj.user
.vs/*
Sample-App/changeList.json

# Windows thumbnail cache
Thumbs.db

# Windows folder config
Desktop.ini

# Mac OS Stuff
.DS_Store

# Misc temp files
*.tmp
*.bak