<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angular-ui-router.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="win" userInstalled="true" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="3.9.1" targetFramework="win" userInstalled="true" />
  <package id="cordova-ionic.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="win" userInstalled="true" />
  <package id="cordova.TypeScript.DefinitelyTyped" version="2.3.4" targetFramework="win" userInstalled="true" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.4" userInstalled="true" />
  <package id="lodash.TypeScript.DefinitelyTyped" version="0.3.9" targetFramework="win" userInstalled="true" />
  <package id="moment.TypeScript.DefinitelyTyped" version="1.0.5" targetFramework="win" userInstalled="true" />
  <package id="nprogress.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="win" userInstalled="true" />
  <package id="urijs.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="win" userInstalled="true" />
</packages>